:root {
    /*
    ****** COLORS
    */
    --darkBlueGrey: rgba(9, 33, 42, 1);
    --darkBlueGreen: rgba(6, 23, 30, 1);
    --white: rgba(255, 255, 255);
    --blueGrey: rgba(98, 123, 132, 1);

    /*
    ****** SIZES
    */

    --size-0: 0;
    --size-100vw: 100vw;
    --size-100vh: 100vh;

    /*
    ****** PX
    */

    --size-0px: 0px;
    --size-5px: 5px;
    --size-10px: 10px;
    --size-15px: 15px;
    --size-12px: 12px;
    --size-20px: 20px;
    --size-24px: 24px;
    --size-25px: 25px;
    --size-30px: 30px;
    --size-32px: 32px;
    --size-35px: 35px;
    --size-40px: 40px;
    --size-48px: 48px;
    --size-60px: 60px;
    --size-80px: 80px;
    --size-87px: 87px;
    --size-100px: 100px;
    --size-108px: 108px;
    --size-188px: 188px;
    --size-128px: 128px;
    --size-130px: 130px;
    --size-140px: 140px;
    --size-200px: 200px;
    --size-240px: 240px;
    --size-360px: 360px;
    --size-400px: 400px;
    --size-440px: 440px;
    --size-480px: 480px;
    --size-520px: 520px;
    --size-620px: 620px;
    --size-1170px: 1170px;

    /*
    ****** %
    */

    --size-10P: 10%;
    --size-40P: 40%;
    --size-50P: 50%;
    --size-50PM: -50%;
    --size-100P: 100%;
}


.header{
    background-color: var(--darkBlueGrey);
    height: var(--size-80px);
}

.header img {
    width: var(--size-200px);
    height: var(--size-48px);
    display: flex;
    padding: var(--size-20px) var(--size-240px) var(--size-20px) var(--size-140px);
}

/*
    Main Sector
*/

html, body {
    margin: var(--size-0);
    padding: var(--size-0);
    width: var(--size-100P);
    background-color: var(--darkBlueGreen);
}

main {
    min-height: calc(var(--size-100vh) - var(--size-188px));
}

.headlineH1{
    color: var(--white);
    margin: var(--size-0px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--size-100px);
}

.photoGallary {
    max-width: var(--size-1170px);
    margin: 0 auto;
    padding-top: var(--size-100px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-20px);
    width: 100%;
}

.photoGallary img{
    width: var(--size-128px);
    height: var(--size-128px);
    border-radius: var(--size-10px);
    gap: var(--size-10px);
}

.gridLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--size-20px);
    max-width: var(--size-1170px);
    margin: 0 auto;
}

/*
    DIALOG
*/

.dialogPhoto:not([open]) {
    display: none;
}

.dialogPhoto img,
.dialogPhoto .figCap,
.dialogPhoto .arrowLeft,
.dialogPhoto .arrowRight,
.dialogPhoto .pageNumber {
    display: block;
}

button {
    padding: var(--size-0px);
    border: var(--size-0px);
    width: var(--size-128px);
    height: var(--size-128px);
    border-radius: var(--size-10px);
    cursor: pointer;
}

.closeBtn{
    padding: var(--size-0);
    border: none;
    cursor: pointer;
    width: var(--size-40px);
    height: var(--size-40px);
    font-size: 15px;
}

.closeBtn img{
    display: none;
}


.dialogPhoto{
    position: fixed;
    top: var(--size-50P);
    left: var(--size-50P);
    transform: translate(var(--size-50PM), var(--size-50PM));
    background-color: var(--darkBlueGrey);
    border-radius: var(--size-25px);
    width: var(--size-480px);
    height: var(--size-520px);
    margin: 2%;
}

.dialogHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--size-400px);
    padding-left: var(--size-40px);
}

.dialogPhoto h2{
    color: var(--white);
}

.dialogPhoto img{
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.dialogHeader {
    display: flex;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

nav .arrowLeft,
nav .arrowRight{
    width: var(--size-40px);
    height: var(--size-40px);
    font-size: 20px;
    text-align: center;
}

.pageNumber {
    color: white;
}

/*
    FOOTER
*/
footer{
    background-color: var(--darkBlueGreen);
    height: var(--size-100px);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: var(--size-108px);
    gap: var(--size-10px);
    background-color: var(--darkBlueGrey);
    border-top-left-radius: var(--size-40P) var(--size-25px);
    border-top-right-radius: var(--size-40P) var(--size-25px);
}

.footer img {
    width: var(--size-130px);
    height: var(--size-32px);
}

.footer p{
    color: var(--blueGrey);
    font-size: var(--size-12px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 1220px) {
    .dialogPhoto:not([open]) {
        display: none;
    }

    .dialogPhoto img,
    .dialogPhoto .figCap,
    .dialogPhoto .arrowLeft,
    .dialogPhoto .arrowRight,
    .dialogPhoto .pageNumber {
        display: block;
    }

    button {
        padding: var(--size-0);
        border: none;
        width: var(--size-128px);
        height: var(--size-128px);
        border-radius: var(--size-10px);
        cursor: pointer;
        line-height: var(--size-0);
        border: none;
        display: inline-block;
        font-size: var(--size-0);
    }

    .photoGallary {
        display: grid;
        grid-template-columns: repeat(6, 0.15fr);
        gap: var(--size-5px);
        padding: var(--size-0);
    }

    .photoGallary img{
        width: var(--size-128px);
        height: var(--size-128px);
        border-radius: var(--size-10px);
        gap: var(--size-10px);
        padding: var(--size-0);
        border: none;
        background: transparent;
        display: inline-block;
        line-height: var(--size-0);
        font-size: var(--size-0);
    }
    
    .dialogPhoto {
        flex-direction: column;
        top: var(--size-50P);
        left: var(--size-50P);
        transform: translate(var(--size-50PM), var(--size-50PM));
        width: var(--size-360px);
        height: var(--size-440px);
        border-radius: var(--size-25px);
        background-color: var(--darkBlueGrey);
        margin: 2%;
    }

    .dialogHeader{
        width: 320px;
        padding-left: var(--size-20px);
    }

    .dialogPhoto h{
        color: var(--white);
    }

    .dialogPhoto img{
        width: 300px;
        height: 250px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .dialogHeader {
        display: flex;
        text-align: center;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 15px;
    }

    nav .arrowLeft,
    nav .arrowRight{
        width: var(--size-40px);
        height: var(--size-40px);
        font-size: 15px;
    }

    footer{
        background-color: var(--darkBlueGreen);
    }

    .footer{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: var(--size-108px);
        gap: var(--size-10px);
        background-color: var(--darkBlueGrey);
        border-top-left-radius: var(--size-40P) var(--size-25px);
        border-top-right-radius: var(--size-40P) var(--size-25px);
    }

    .footer img {
        width: var(--size-130px);
        height: var(--size-32px);
    }
}

@media (max-width: 1190px){
    .dialogPhoto:not([open]) {
        display: none;
    }

    .dialogPhoto img,
    .dialogPhoto .figCap,
    .dialogPhoto .arrowLeft,
    .dialogPhoto .arrowRight,
    .dialogPhoto .pageNumber {
        display: block;
    }
    button {
        padding: var(--size-0);
        border: none;
        width: var(--size-128px);
        height: var(--size-128px);
        border-radius: var(--size-10px);
        cursor: pointer;
        line-height: var(--size-0);
        border: none;
        display: inline-block;
        font-size: var(--size-0);
    }

    .photoGallary {
        display: grid;
        grid-template-columns: repeat(4, 0.15fr);
        gap: var(--size-5px);
        padding: var(--size-0);
    }

    .photoGallary img{
        width: var(--size-128px);
        height: var(--size-128px);
        border-radius: var(--size-10px);
        gap: var(--size-10px);
        padding: var(--size-0);
        border: none;
        background: transparent;
        display: inline-block;
        line-height: var(--size-0);
        font-size: var(--size-0);
    }
}

@media (max-width: 1000px){
    .dialogPhoto:not([open]) {
        display: none;
    }

    .dialogPhoto img,
    .dialogPhoto .figCap,
    .dialogPhoto .arrowLeft,
    .dialogPhoto .arrowRight,
    .dialogPhoto .pageNumber {
        display: block;
    }

    button {
        padding: var(--size-0);
        border: none;
        width: var(--size-128px);
        height: var(--size-128px);
        border-radius: var(--size-10px);
        cursor: pointer;
        line-height: var(--size-0);
        border: none;
        display: inline-block;
        font-size: var(--size-0);
    }

    .photoGallary {
        display: grid;
        grid-template-columns: repeat(3, 0.15fr);
        gap: var(--size-5px);
        width: var(--size-100P);
        padding: var(--size-0);
    }

    .photoGallary img{
        width: var(--size-128px);
        height: var(--size-128px);
        border-radius: var(--size-10px);
        gap: var(--size-10px);
        padding: var(--size-0);
        border: none;
        background: transparent;
        display: inline-block;
        line-height: var(--size-0);
        font-size: var(--size-0);
    }
}

@media (max-width: 600px){
    .dialogPhoto:not([open]) {
        display: none;
    }

    .dialogPhoto img,
    .dialogPhoto .figCap,
    .dialogPhoto .arrowLeft,
    .dialogPhoto .arrowRight,
    .dialogPhoto .pageNumber {
        display: block;
    }
    

    .photoGallary button {
        padding: var(--size-0);
        border: none;
        width: var(--size-128px);
        height: var(--size-128px);
        border-radius: var(--size-10px);
        cursor: pointer;
        line-height: var(--size-0);
        border: none;
        display: inline-block;
        font-size: var(--size-0);
    }

    .photoGallary {
        display: grid;
        grid-template-columns: repeat(2, 0.15fr);
        gap: var(--size-5px);
        padding: var(--size-0);
    }

    .photoGallary img{
        width: var(--size-128px);
        height: var(--size-128px);
        border-radius: var(--size-10px);
        gap: var(--size-10px);
        padding: var(--size-0);
        border: none;
        background: transparent;
        display: inline-block;
        line-height: var(--size-0);
        font-size: var(--size-0);
    }

    .header img {
        width: 250px;
        height: var(--size-48px);
        display: flex;
        padding: var(--size-15px) var(--size-87px);
    }

    footer{
        background-color: var(--darkBlueGreen);
    }

    .footer{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: var(--size-108px);
        gap: var(--size-10px);
        background-color: var(--darkBlueGrey);
        border-top-left-radius: var(--size-40P) var(--size-25px);
        border-top-right-radius: var(--size-40P) var(--size-25px);
    }

    .footer img {
        width: var(--size-130px);
        height: var(--size-32px);
    }
}

@media (max-width: 500px){
    .dialogPhoto:not([open]) {
        display: none;
    }

    .dialogPhoto img,
    .dialogPhoto .figCap,
    .dialogPhoto .arrowLeft,
    .dialogPhoto .arrowRight,
    .dialogPhoto .pageNumber {
        display: block;
    }

    .dialogPhoto{
        position: fixed;
        top: var(--size-50P);
        left: var(--size-50P);
        transform: translate(var(--size-50PM), var(--size-50PM));
        background-color: var(--darkBlueGrey);
        border-radius: var(--size-25px);
        width: 300px;
        height: var(--size-520px);
        margin: 2%;
    }

    .dialogHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;
        padding-left: var(--size-40px);
    }

    .dialogPhoto h2{
        color: var(--white);
    }

    .dialogPhoto img{
        width: 250px;
        height: 350px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .dialogHeader {
        display: flex;
        text-align: center;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 15px;
    }

    nav .arrowLeft,
    nav .arrowRight{
        width: var(--size-40px);
        height: var(--size-40px);
        font-size: 15px;
    }

    .header{
        background-color: var(--darkBlueGrey);
        height: var(--size-80px);
    }

    .header img {
        width: var(--size-200px);
        height: var(--size-48px);
        display: flex;
        padding: var(--size-15px) var(--size-87px);
    }

    .headlineH1 {
        font-size: var(--size-24p);
    }

    footer{
        background-color: var(--darkBlueGreen);
    }

    .footer{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: var(--size-108px);
        gap: var(--size-10px);
        background-color: var(--darkBlueGrey);
        border-top-left-radius: var(--size-40P) var(--size-25px);
        border-top-right-radius: var(--size-40P) var(--size-25px);
    }

    .footer img {
        width: var(--size-130px);
        height: var(--size-32px);
    }
}

@media (max-width: 350px){
    .dialogPhoto{
        position: fixed;
        top: var(--size-50P);
        left: var(--size-50P);
        transform: translate(var(--size-50PM), var(--size-50PM));
        background-color: var(--darkBlueGrey);
        border-radius: var(--size-25px);
        width: 200px;
        height: 400px;
        margin: 2%;
    }

    .header img {
        width: 150px;
        height: var(--size-48px);
        display: flex;
        padding: var(--size-15px) var(--size-87px);
    }

    .dialogHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 180px;
        padding-left: 10px;
    }

    .dialogPhoto img{
        width: 100%;
        height: 250px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    figure{
        margin: 0;
        width: 100%;
        height: 250px;
    }

    .figureImg{
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 320px){
    .header img {
        width: 100px;
        height: var(--size-48px);
        display: flex;
        padding: var(--size-15px) var(--size-87px);
    }
}
